.pages {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 40px;
    font-weight: 300;
}

.header {
    background-color: #00a5ff;
}

.phone-menu {
    margin-left: 20px
}

.menu-icon {
    height: 30px;
    align-self: flex-end;
}

